.view-button {
    position: absolute;
    right: 20px;
    top: 22%;
    margin: 10px;
}

.brand-name {
    background: linear-gradient(140deg, #EADEDB 0%, #BC70A4 50%, #BFD641 75%);
    border-radius: 3px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 15px;
    letter-spacing: 2px;
}